@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600;700&family=Poppins:wght@400;500&display=swap');

:root{
    --color-body:#b6cbce;
    --color-heading:#eef3db;
    --color-base:#033f47;
    --color-base2:#022a30;
    --color-brand:#e0f780;
    --color-brand2:#deff58;
    --sidebar-width:240px;
    --font-base:"Bai jamjuree";
}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base),sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-heading) ;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: var(--color-body);
    transition: all .4s ease;
}
a:hover{
    color: var(--color-brand);
}
img{
    width: 100%;
}
.text-brand{
    color: var(--color-brand);
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.bg-base{
    background-color: var(--color-base);
}
.shadow-effect{
    transition: all 0.5s;
}
.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 var(--color-brand) ;
}
/* Navbar */
.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.navbar .nav-link:hover{
  color: var(--color-brand);
}
.navbar .nav-link.active{
    color: var(--color-brand) ;
}
/* SKILL */
.html{
    font-size: 44px;
    font-weight: 700;
    color: var(--color-brand);
}

.javascript{
   font-size: 44px;
   font-weight: 700;
   color: var(--color-brand);
}

@media (min-width:992px) {
    .navbar{
        min-height:100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8),rgba(3, 63, 71, 0.8)), url(./images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }
    .navbar-brand img {
        border: 4px solid var(--color-brand);
    }

    /* CONTENT WRAPPER */
    #content-wrapper{
        padding-left: var(--sidebar-width);
    }
}
.btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
    background-color: var(--color-brand);
    color: var(--color-base);
    border-color: var(--color-brand);
}
.btn-brand:hover,
.btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.btn2 .btn-brand{
   border-color: var(--color-brand2);
   border-radius: 0%;
}
.link-custom{
    font-weight: 700;
    position: relative;
}
.link-custom::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}
.link-custom:hover::after{
    width: 100%;
}
@media(max-width:700px){
    .contact{
         flex-direction: column;
         text-overflow: ellipsis;
    }
    .link-custom, .las{
        display: flex;
        font-size: 18px;
        padding: 5px;
    }
}
/* ABOUT */
.card{
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

/* Skill */
.list{
}
.list .listitem::marker{
    color: var(--color-brand);
}

.card:hover .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

/* CARD */

.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image{
    transition: all 0.4s ease;
}
.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}

/* Contact */

#Contact .form-control{
    background-color: var(--color-base);
    border: var(--color-base);
    color: var(--color-body);
}
#Contact .form-control:focus{
   border-color: var(--color-brand);
   box-shadow: none;
}
#Contact .form-control::placeholder{
    color: var(--color-body);
}
#Contact input.form-control{
    height: 44px;
}

 /* SOCIAL ICONS */

 .social-icons{

 }
 .social-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
 }

 .icon{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    font-size: 26px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
 }